@font-face {
    font-family: CenturyGothic;
    src: url('../fonts/gothic.ttf');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: CenturyGothic;
    src: url('../fonts/gothicb.ttf');
    font-weight: bold;
    font-style: normal;

}

@font-face {
    font-family: CenturyGothic;
    src: url('../fonts/gothici.ttf');
    font-weight: normal;
    font-style: italic;

}

@font-face {
    font-family: CenturyGothic;
    src: url('../fonts/gothicbi.ttf');
    font-weight: bold;
    font-style: italic;

}


/*----------------------------------------------------------------------------------*/
/*------------------------------> RESET DEFAULT STYLES <----------------------------*/
/*----------------------------------------------------------------------------------*/
html        { width:100%; height:100%; }
body        { padding:0; margin:0; background: #FFF; color:#BBB; height: 100%; min-width: 978px; }
div,p,a,span,em,strong,img,h1,h2,h3,h4,h5,h6,ul,ol,li,dl,dt,dd,table,td,tr,form,fieldset,label,select,input,textarea {
    padding:0;
    margin:0;
    outline:none;
    list-style:none;
}
body, select, input, textarea, input[type="password"], button {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px; 
}

select, input, textarea        { vertical-align:middle; }
textarea                       { vertical-align:top; }
:focus                         { outline:none; }
input[type=submit]             { cursor:pointer; }
input[type="password"]         {  }
input[type="checkbox"]	       { vertical-align: baseline !important; margin-top: 2px !important; }
img, fieldset                  { border:0; }
table                          { border-collapse:collapse; border-spacing:0; }
a                              { color: #000; /*color: #0085D2;*/ text-decoration:none; }
a:hover                        { color: #00CB98; text-decoration:underline; }
a:focus                        { outline: none; }
button                         { color: #fff; padding: 0; border: 0; }
img                            { display: block; }

.bold {
    font-weight: bold;
}
.clear {
    clear: both;
}
.no-display {
    display: none !important;
}

.transition {
    -webkit-transition: left .1s linear;
    -moz-transition: left .1s linear;
    transition: left .1s linear;
}


/*----------------------------------------------------------------------------------*/
/*---------------------------------> Main structure <-------------------------------*/
/*----------------------------------------------------------------------------------*/
.wrapper {
    min-height: 100%;
}
.wrapper,
.header {
    background: url(../images/textures.png);
}
.wrap {
    max-width: 978px;
    margin: 0 auto;
}

.header,
.footer {
    position: fixed;
    left: 0;
    width: 100%;
    z-index: 5;
}
.header .wrap,
.footer .wrap,
.content.home-page .wrap,
.content.about-page .wrap {
    max-width: 1200px;
}

.footer {
    height: 38px;
    bottom: 0;
}
.content {
    padding-top: 57px;
    position: relative;
    z-index: 0;
}

.footer .share-block {
    background: rgba(17,17,17,0.5);
    -webkit-border-radius: 6px 6px 0 0;
    -moz-border-radius: 6px 6px 0 0;
    border-radius: 6px 6px 0 0;
}
.footer .copy {
    display: block;
    font-size: 12px;
    color: #777;
    line-height: 120%;
    padding: 13px 14px 0;
    height: 25px;
    float: left;
    text-shadow: 1px 1px #000;
}

.footer .share-block {
    float: right;
    height: 30px;
    padding: 8px 10px 0 0;    
}
.footer .share-block li {
    float: left;
    margin: 0 0 0 10px;
}
.footer .share-block a {
    display: block;
    width: 20px;
    height: 21px;
    background: url(../images/sprite.png) no-repeat;
}
.footer .share-block .tw { background-position: 0px -20px; }
.footer .share-block .vk { background-position: -20px -20px; }
.footer .share-block .fb { background-position: -40px -20px; }
.footer .share-block .gp { background-position: -60px -20px; }
.footer .share-block .in { background-position: -80px -20px; }
.footer .share-block .is { background-position: -100px -20px; }
.footer .share-block .pt { background-position: -120px -20px; }
.footer .share-block .vm { background-position: -140px -20px; }

.footer .share-block .tw:hover { background-position: 0px -50px; }
.footer .share-block .vk:hover { background-position: -20px -50px; }
.footer .share-block .fb:hover { background-position: -40px -50px; }
.footer .share-block .gp:hover { background-position: -60px -50px; }
.footer .share-block .in:hover { background-position: -80px -50px; }
.footer .share-block .is:hover { background-position: -100px -50px; }
.footer .share-block .pt:hover { background-position: -120px -50px; }
.footer .share-block .vm:hover { background-position: -140px -50px; }


.header {
    top: 0;
    border-bottom: 1px solid #307D9E;
    height: 56px;
}
.header > .wrap {
    height: 100%;
    margin-bottom: 1px;
}
.header h1 {
    padding: 13px 0 0 4px;
    overflow: hidden;
}
.header .logo {
    display: block;
    width: 176px;
    height: 40px;
}

.nav {
    float: right;
    padding: 37px 6px 0 0;
}
.nav li {
    float: left;
    margin: 0 0 0 22px;
    position: relative;
}
.nav a {
    display: block;
    padding: 0 0 0 7px;
    border-left: 2px solid;
    line-height: 85%;
    color: #666;
    text-transform: uppercase;
    text-decoration: none;
}
.nav a:hover {
    color: #CCC;
}
.nav .active a,
.collage-page .caption-block h2,
.blog-list .more:hover {
    color: #2BA6DC;
}

.nav .active:before {
    display: block;
    content: "";
    width: 12px;
    height: 8px;
    position: absolute;
    left: 50%;
    bottom: -15px;
    margin: 0 0 0 -6px;
    background: url(../images/sprite.png) -80px 0 no-repeat;
}


.sub-nav-block {
    height: 38px;
    padding: 14px 0 0;
    background: rgba(17,17,17,0.5);
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#80000000', endColorstr='#80000000');
}
.sub-nav {
    float: right;
}
.sub-nav li {
    float: left;
    margin: 0 0 0 11px;
}
.sub-nav .active .btn {
    color: #44AEDE;
}

.btn {
    display: block;
    background: #333;
    border-width: 0 1px 1px 0;
    border-style: solid;
    border-color: #000;
    color: #AAA;
    font-size: 14px;
    padding: 5px 10px;
    text-decoration: none;
    line-height: 120%;
    
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
.btn:hover {
    color: #CCC;
    text-decoration: none;
}

.btn .icon {
    display: block;
    position: absolute;
    background: url(../images/sprite.png);
}


.btn-scroll-up {
    padding-left: 30px;
    position: fixed;
    left: 50%;
    bottom: 6px;
    margin: 0 0 0 -40px;
    z-index: 6;
}
.btn-scroll-up .icon {
    width: 12px;
    height: 7px;
    background-position: -60px 0;
    left: 12px;
    top: 11px;
}


/*----------------------------------------------------------------------------------*/
/*-----------------------------------> Home page <----------------------------------*/
/*----------------------------------------------------------------------------------*/
.home-page .preview {
    display: block;
}
.home-page .preview img {
    max-width: 100%;
    width: 100%;
    margin: 0 auto;
}


.shadow {
    position: relative;
    display: block;
}
.shadow:before,
.shadow:after {
    display: block;
    content: "";
    position: absolute;
    bottom: 6px;
    width: 30%;
    height: 48px;
    /*
    background: #f00;
    */
    z-index: -1;
    
    -webkit-box-shadow: 0 8px 8px 0px #000;
    -moz-box-shadow: 0 8px 8px 0px #000;
    box-shadow: 0 8px 8px 0px #000;    
}
.shadow:before {
    left: 6%;
    -webkit-transform: skewX(-9deg) rotate(-7deg);
    transform: skewX(-9deg) rotate(-7deg);
}
.shadow:after {
    right: 6%;
    -webkit-transform: skewX(9deg) rotate(7deg);
    transform: skewX(9deg) rotate(7deg);
}

.shadow > img {
    position: relative;
}
.shadow .image-shadow {
    display: block;
    position: absolute;
    bottom: 0;
    width: 94%;
    height: 5%;
    left: 3%;
    -webkit-box-shadow: 0 0px 4px #000;
    -moz-box-shadow: 0 0px 4px #000;
    box-shadow: 0 0px 4px #000;
}


.preview.shadow:before,
.preview.shadow:after {
    height: 240px;
    max-height: 40%;
    bottom: 3%;
    -webkit-box-shadow: 0 12px 14px 0px #000;
    -moz-box-shadow: 0 12px 14px 0px #000;
    box-shadow: 0 12px 14px 0px #000;
}
.preview.shadow:before {
    left: 8%;
    -webkit-transform: skewX(-30deg) rotate(-5deg);
    transform: skewX(-30deg) rotate(-5deg);
}
.preview.shadow:after {
    right: 8%;
    -webkit-transform: skewX(30deg) rotate(5deg);
    transform: skewX(30deg) rotate(5deg);
}
.preview.shadow .image-shadow {
    -webkit-box-shadow: 0 0px 7px #000;
    -moz-box-shadow: 0 0px 7px #000;
    box-shadow: 0 0px 7px #000;
}


.home-page .preview-list {
    padding: 45px 0 0;
    margin: 0 -4px;
    overflow: hidden;
}
.home-page .preview-list li {
    float: left;
    margin: 0 0 60px 10px;
    border: 1px solid transparent;
    padding: 3px;
    
}
.home-page .preview-list li:first-child {
    margin: 0;
}
.home-page .preview-list li:hover,
.collage-list li:hover {
    border-color: #2BA5DB;
}
.home-page .preview-list img {
    max-width: 185px;
    width: 100%;
}
.home-page .preview-list a {
    position: relative;
    display: block;
    text-decoration: none;
    text-align: center;
    outline: none;
}
.home-page .preview-list .photo-overlay {
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    background: rgba(0,0,0,0.7);
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#69000000', endColorstr='#69000000');
}
.home-page .preview-list li:hover .photo-overlay {
    background: rgba(0,0,0,0.3);
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#69000000', endColorstr='#69000000');
}
.home-page .preview-list .caption {
    font-size: 34px;
    color: #FFF;
    opacity: 0.5;
    padding: 38px 0 0;
    display: block;
    font-family: CenturyGothic;
}
.home-page .preview-list li:hover .caption {
    opacity: 1;
}


.preview-slider {
    overflow: hidden;
}
.anythingSlider {
	display: block;
	overflow: visible !important;
	position: relative;
    width: auto !important;
    height: auto !important;
    margin: 30px 0 0;
}
.anythingSlider .fade .panel {
	float: none;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 0;
    width: 100% !important;
    height: 100% !important;
}
.anythingSlider .fade .activePage {
	z-index: 1;
}


/*----------------------------------------------------------------------------------*/
/*----------------------------------> Collage page <--------------------------------*/
/*----------------------------------------------------------------------------------*/
.collage-page,
.blog-page {
    padding: 133px 0 0;
}
.slider-enabled .collage-page {
    padding: 0;
}
.slider-enabled .header,
.slider-enabled .footer {
    display: none;
}

.collage-page .caption-block {
    padding: 0 0 25px;
}
.slider-enabled .collage-page .caption-block {
    padding: 15px 0 15px;
}
.collage-page .caption-block h2,
.blog-page h2 {
    overflow: hidden;
    font-size: 30px;
    font-weight: normal;
    line-height: 120%;
}
.slider-enabled .collage-page .caption-block h2,
.blog-page h2 {
    color: #6F6F6F;
}

.collage-page .caption-block .btn-to-gallery {
    float: right;
    position: relative;
    padding-left: 30px;
    margin-top: 8px;
    display: none;
}
.slider-enabled .collage-page .caption-block .btn-to-gallery {
    display: block;
}
.collage-page .caption-block .icon {
    display: block;
    position: absolute;
    left: 10px;
    top: 7px;
    width: 13px;
    height: 13px;
    background: url(../images/sprite.png) 0 0 no-repeat;
}


.collage-wrap,
.blog-wrap {
    width: 100%;
    overflow: hidden;
}
.collage-list {
    width: 988px;
    padding: 0 0 110px;
}
.collage-list li {
    border-width: 1px;
    border-style: solid;
    border-color: transparent;
    padding: 3px;
    margin: 0 10px 10px 0;
    width: 229px;
}
.collage-list img {
    width: 100%;
}
.collage-list .phone-block {
    border-color: transparent !important;
    padding-top: 15px;
    padding-bottom: 22px;
}
.collage-list .phone-block h3,
.collage-list .phone-block span {
    font-family: CenturyGothic;
    text-align: center;
    opacity: 0.7;
    color: #FFF !important;
    font-weight: normal;
}
.collage-list .phone-block h3 {
    font-size: 26px;
}
.collage-list .phone-block span {
    font-size: 17px;
    display: block;
}


/*----------------------------------------------------------------------------------*/
/*------------------------------------> Slider <------------------------------------*/
/*----------------------------------------------------------------------------------*/
.slider-wrap {
    position: relative;
    height: 600px;
    overflow: hidden;
}
.slider-wrap .fade {
    display: block;
    position: absolute;
    top: 0;
    width: 74px;
    height: 600px;
    background: url(../images/faders.png);
}
.slider-wrap .fade-left {
    left: 0;
    background-position: 0 0;
}
.slider-wrap .fade-right {
    right: 0;
    background-position: -74px 0;
}

.slider-wrap .control {
    display: block;
    position: absolute;
    top: 0;
    width: 49px;
    height: 100%;
}
.slider-wrap .control:hover {
    background: rgba(17,17,17,0.5);
}
.slider-wrap .control-left {
    left: 0;
    
    -webkit-border-radius: 0 6px 6px 0;
    -moz-border-radius: 0 6px 6px 0;
    border-radius: 0 6px 6px 0;
}
.slider-wrap .control-right {
    right: 0;
    
    -webkit-border-radius: 6px 0 0 6px;
    -moz-border-radius: 6px 0 0 6px;
    border-radius: 6px 0 0 6px;
}
.slider-wrap .control .icon {
    display: block;
    width: 26px;
    height: 50px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -25px 0 0 -13px;
    opacity: 0.25;
    background: url(../images/sprite.png);
}
.slider-wrap .control-left .icon {
    background-position: 0px -80px;
}
.slider-wrap .control-right .icon {
    background-position: -30px -80px;
}
.slider-wrap .control:hover .icon {
    opacity: 0.75;
}

.slider {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
}
.slider li {
    float: left;
    margin: 0 0 0 10px;
}
.slider li:first-child {
    margin: 0;
}
.slider li,
.slider img {
    height: 100%;
}


/*----------------------------------------------------------------------------------*/
/*-----------------------------------> Blog page <----------------------------------*/
/*----------------------------------------------------------------------------------*/
.blog-page h2 {
    padding: 0 0 15px;
}

.blog-list {
    width: 1002px;
    padding: 0 0 58px;
}
.blog-list li {
    margin: 0 24px 22px 0;
    padding: 7px 4px 17px;
    width: 300px;
    border: 1px solid rgba(102,102,102,0.5);
    background: rgba(51,51,51,0.5);
}
.blog-list .date {
    color: #666;
    display: block;
    padding: 0 0 9px;
}
.blog-list img {
    width: 100%;
}
.blog-list h3 {
    border-bottom: 1px solid #333;
    padding: 17px 0 8px 5px;
    margin: 0 0 4px;
}
.blog-list h3 a {
    font-size: 16px;
}
.blog-list,
.blog-list a {
    color: #AAA;
    line-height: 120%;
    font-weight: normal;
}
.blog-list p {
    padding: 0 2px;
}
.blog-list .more {
    text-decoration: underline;
    position: relative;
    padding: 0 11px 0 0;
}
.blog-list .more .icon {
    display: block;
    position: absolute;
    right: 0;
    top: 3px;
    width: 6px;
    height: 11px;
    background: url(../images/sprite.png) -40px 0 no-repeat;
}


/*----------------------------------------------------------------------------------*/
/*---------------------------------> Blog info page <-------------------------------*/
/*----------------------------------------------------------------------------------*/
.blog-info-page {
    padding: 85px 0 70px;
    line-height: 120%;
}
.blog-info-page .btn-back {
    padding-left: 28px;
    position: relative;
    float: left;
}
.blog-info-page .btn-back .icon {
    left: 10px;
    top: 7px;
    background-position: -20px 0;
    width: 7px;
    height: 12px;
}
.blog-info-page .date {
    display: block;
    clear: both;
    color: #666;
    padding: 25px 0 0;
}
.blog-info-page h2 {
    font-size: 20px;
    font-weight: normal;
    padding: 17px 0 9px;
}
.blog-info-page h2,
.blog-info-page .description,
.blog-info-list .photo-description {
    color: #AAA;
}


.blog-info-list {
    border-top: 1px solid #333;
    border-bottom: 1px solid #333;
    padding: 20px 0 0;
    margin: 20px 0 0;
}
.blog-info-list li {
    padding: 0 0 20px;
}
.blog-info-list .photo-description {
    display: block;
    padding: 6px 0 0;
}
.blog-info-list img {
    max-width: 100%;
}


/*----------------------------------------------------------------------------------*/
/*-----------------------------------> About page <---------------------------------*/
/*----------------------------------------------------------------------------------*/
.about-page {
    padding: 85px 0 100px;
}
.about-page .wrap {
    background: url(../images/about.png) center top no-repeat;
    min-height: 745px;
}
.about-page .info {
    float: right;
    width: 295px;
    padding: 159px 54px 0 0;
}
.about-page p {
    font: 12px/140% CenturyGothic;
    color: #BABABA;
    opacity: 0.9;
}
.about-page .contact-info {
    font-size: 16px;
}
.about-page .description {
    padding: 36px 0 71px;
}


/*----------------------------------------------------------------------------------*/
/*-----------------------------------> Responsive <---------------------------------*/
/*----------------------------------------------------------------------------------*/
@media all and (max-width: 1024px) {
    .home-page .preview-list {
        margin: 0;
    }
    .home-page .preview-list li:first-child, 
    .home-page .preview-list li {
        width: 300px;
        margin-left: 25px;
    }
    .home-page .preview-list img {
        max-width: none;
    }
    .home-page .preview-list .shadow:before,
    .home-page .preview-list .shadow:after {
        bottom: 3%;
    }
    .home-page .preview-list .caption {
        padding: 70px 0 0;
    }
    
    .about-page .wrap {
        background-size: auto 636px;
        min-height: 636px;
        overflow: hidden;
    }
    .about-page .wrap img {
        width: 100%;
    }
    .about-page .info {
        padding: 90px 32px 0 0;
    }
    

}

@media all and (max-width: 768px) {
    body {
        min-width: 768px;
    }
    .content .wrap {
        max-width: 748px;
    }
    .home-page .preview {
        width: 768px;
    }
    .home-page .preview-list li:first-child, 
    .home-page .preview-list li {
        width: 220px;
        margin-left: 21px;
    }
    .home-page .preview-list .shadow:before,
    .home-page .preview-list .shadow:after {
        bottom: 4.5%;
    }
    .home-page .preview-list .caption {
        padding: 45px 0 0;
    }
    
    .about-page {
        padding-top: 140px;
    }
    .about-page .wrap {
        background-position: -200px 0;
    }
    
    
    .blog-list {
        width: 762px;
    }
    .blog-list li {
        width: 230px;
        margin: 0 14px 12px 0;
    }
    
    .collage-list {
        width: 756px;
    }
    .collage-list li {
        width: 173px;
        margin: 0 8px 8px 0;
    }
    .collage-list .phone-block span {
        font-size: 15px;
    }
    
    .slider-wrap {
        margin: 11% 0 0;
    }

}
/*----------------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------*/