@font-face {
    font-family: CenturyGothic;
    src: url('../fonts/gothic.ttf');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: CenturyGothic;
    src: url('../fonts/gothicb.ttf');
    font-weight: bold;
    font-style: normal;

}

@font-face {
    font-family: CenturyGothic;
    src: url('../fonts/gothici.ttf');
    font-weight: normal;
    font-style: italic;

}

@font-face {
    font-family: CenturyGothic;
    src: url('../fonts/gothicbi.ttf');
    font-weight: bold;
    font-style: italic;

}
/*----------------------------------------------------------------------------------*/
/*------------------------------> RESET DEFAULT STYLES <----------------------------*/
/*----------------------------------------------------------------------------------*/
html        { width:100%; height:100%; }
body        { padding:0; margin:0; background: #FFF; color:#BBB; height: 100%; min-width: 978px; }
div,p,a,span,em,strong,img,h1,h2,h3,h4,h5,h6,ul,ol,li,dl,dt,dd,table,td,tr,form,fieldset,label,select,input,textarea {
    padding:0;
    margin:0;
    outline:none;
    list-style:none;
}
body, select, input, textarea, input[type="password"], button {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px; 
}

select, input, textarea        { vertical-align:middle; }
textarea                       { vertical-align:top; }
:focus                         { outline:none; }
input[type=submit]             { cursor:pointer; }
input[type="password"]         {  }
input[type="checkbox"]	       { vertical-align: baseline !important; margin-top: 2px !important; }
img, fieldset                  { border:0; }
table                          { border-collapse:collapse; border-spacing:0; }
a                              { color: #000; /*color: #0085D2;*/ text-decoration:none; }
a:hover                        { color: #00CB98; text-decoration:underline; }
button                         { color: #fff; padding: 0; border: 0; }
img                            { display: block; }

.bold {
    font-weight: bold;
}
.clear {
    clear: both;
}
.no-display {
    display: none !important;
}


/*----------------------------------------------------------------------------------*/
/*---------------------------------> Main structure <-------------------------------*/
/*----------------------------------------------------------------------------------*/
.wrapper {
    min-height: 100%;
}
.wrapper,
.header {
    background: url(../images/textures.png);
}
.wrap {
    max-width: 1200px;
    margin: 0 auto;
}

.header,
.footer {
    position: fixed;
    left: 0;
    width: 100%;
    z-index: 5;
}
.footer {
    height: 38px;
    bottom: 0;
}
.content {
    padding-top: 57px;
}

.footer .share-block,
.footer .copy {
    background: #111;
    -webkit-border-radius: 6px 6px 0 0;
    -moz-border-radius: 6px 6px 0 0;
    border-radius: 6px 6px 0 0;
}
.footer .copy {
    display: block;
    font-size: 12px;
    color: #777;
    line-height: 120%;
    padding: 13px 14px 0;
    height: 25px;
    float: left;
}

.footer .share-block {
    float: right;
    height: 30px;
    padding: 8px 10px 0 0;    
}
.footer .share-block li {
    float: left;
    margin: 0 0 0 10px;
}
.footer .share-block a {
    display: block;
    width: 20px;
    height: 21px;
    background: url(../images/sprite.png) no-repeat;
}
.footer .share-block .tw { background-position: 0px -20px; }
.footer .share-block .vk { background-position: -20px -20px; }
.footer .share-block .fb { background-position: -40px -20px; }
.footer .share-block .gp { background-position: -60px -20px; }
.footer .share-block .in { background-position: -80px -20px; }
.footer .share-block .is { background-position: -100px -20px; }
.footer .share-block .pt { background-position: -120px -20px; }
.footer .share-block .vm { background-position: -140px -20px; }

.footer .share-block .tw:hover { background-position: 0px -50px; }
.footer .share-block .vk:hover { background-position: -20px -50px; }
.footer .share-block .fb:hover { background-position: -40px -50px; }
.footer .share-block .gp:hover { background-position: -60px -50px; }
.footer .share-block .in:hover { background-position: -80px -50px; }
.footer .share-block .is:hover { background-position: -100px -50px; }
.footer .share-block .pt:hover { background-position: -120px -50px; }
.footer .share-block .vm:hover { background-position: -140px -50px; }


.header {
    top: 0;
    border-bottom: 1px solid #307D9E;
    height: 56px;
}
.header > .wrap {
    height: 100%;
    margin-bottom: 1px;
}
.header h1 {
    padding: 13px 0 0 4px;
    overflow: 
}
.header .logo {
    display: block;
    width: 176px;
    height: 40px;
}

.nav {
    float: right;
    padding: 37px 6px 0 0;
}
.nav li {
    float: left;
    margin: 0 0 0 22px;
    position: relative;
}
.nav a {
    display: block;
    padding: 0 0 0 7px;
    border-left: 2px solid;
    line-height: 85%;
    color: #666;
    text-transform: uppercase;
    text-decoration: none;
}
.nav a:hover {
    color: #CCC;
}
.nav .active a {
    color: #2BA6DC;
}

.nav .active:before {
    display: block;
    content: "";
    width: 12px;
    height: 8px;
    position: absolute;
    left: 50%;
    bottom: -15px;
    margin: 0 0 0 -6px;
    background: url(../images/sprite.png) -80px 0 no-repeat;
}


.sub-nav-block {
    height: 38px;
    padding: 14px 0 0;
    background: rgba(17,17,17,0.5);
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#80000000', endColorstr='#80000000');
}
.sub-nav {
    float: right;
}
.sub-nav li {
    float: left;
    margin: 0 0 0 11px;
}
.sub-nav a {
    display: block;
    background: #333;
    border-width: 0 1px 1px 0;
    border-style: solid;
    border-color: #000;
    color: #AAA;
    font-size: 14px;
    padding: 5px 10px;
    text-decoration: none;
    line-height: 120%;
    
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
.sub-nav a:hover {
    color: #CCC;
}
.sub-nav .active a {
    color: #44AEDE;
}
/*----------------------------------------------------------------------------------*/
/*-----------------------------------> Home page <----------------------------------*/
/*----------------------------------------------------------------------------------*/
.home-page {
    position: relative;
    z-index: 0;
}
.home-page .preview {
    display: block;
    margin: 30px 0 0;
}
.home-page .preview img {
    max-width: 100%;
    width: 100%;
    margin: 0 auto;
}
.home-page .shadow {
    position: relative;
}
.home-page .shadow:before,
.home-page .shadow:after {
    display: block;
    content: "";
    position: absolute;
    bottom: 3%;
    width: 30%;
    height: 40%;
    background: #f00;
    z-index: -1;
    
    -webkit-box-shadow: 0 12px 14px 0px #000;
    -moz-box-shadow: 0 12px 14px 0px #000;
    box-shadow: 0 12px 14px 0px #000;
}
.home-page .shadow:before {
    left: 8%;
    -webkit-transform: skewX(-30deg) rotate(-5deg);
    transform: skewX(-30deg) rotate(-5deg);
}
.home-page .shadow:after {
    right: 8%;
    -webkit-transform: skewX(30deg) rotate(5deg);
    transform: skewX(30deg) rotate(5deg);
}
.home-page .shadow > img {
    position: relative;
}
.home-page .shadow .image-shadow {
    display: block;
    position: absolute;
    bottom: 0;
    width: 94%;
    height: 5%;
    left: 3%;
    -webkit-box-shadow: 0 0px 7px #000;
    -moz-box-shadow: 0 0px 7px #000;
    box-shadow: 0 0px 7px #000;
}

.home-page .preview-list .shadow:before,
.home-page .preview-list .shadow:after {
    bottom: 5%;
    -webkit-box-shadow: 0 8px 8px 0px #000;
    -moz-box-shadow: 0 8px 8px 0px #000;
    box-shadow: 0 8px 8px 0px #000;    
}
.home-page .preview-list .shadow:before {
    left: 6%;
    -webkit-transform: skewX(-9deg) rotate(-7deg);
    transform: skewX(-9deg) rotate(-7deg);
}
.home-page .preview-list .shadow:after {
    right: 6%;
    -webkit-transform: skewX(9deg) rotate(7deg);
    transform: skewX(9deg) rotate(7deg);
}
.home-page .preview-list .shadow .image-shadow {
    -webkit-box-shadow: 0 0px 4px #000;
    -moz-box-shadow: 0 0px 4px #000;
    box-shadow: 0 0px 4px #000;
}


.home-page .preview-list {
    padding: 45px 0 0;
    margin: 0 -4px;
    overflow: hidden;
}
.home-page .preview-list li {
    float: left;
    margin: 0 0 60px 10px;
    border: 1px solid transparent;
    padding: 3px;
    
}
.home-page .preview-list li:first-child {
    margin: 0;
}
/*.home-page .preview-list li:hover,*/
.home-page .preview-list .active {
    border-color: #2BA5DB;
}
.home-page .preview-list img {
    max-width: 185px;
    width: 100%;
}
.home-page .preview-list a {
    position: relative;
    display: block;
    text-decoration: none;
    text-align: center;
    outline: none;
}
.home-page .preview-list .photo-overlay {
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    background: rgba(0,0,0,0.7);
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#69000000', endColorstr='#69000000');
}
.home-page .preview-list li:hover .photo-overlay,
.home-page .preview-list .active .photo-overlay {
    background: rgba(0,0,0,0.3);
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#69000000', endColorstr='#69000000');
}
.home-page .preview-list .caption {
    font-size: 34px;
    color: #FFF;
    opacity: 0.5;
    padding: 38px 0 0;
    display: block;
    font-family: CenturyGothic;
}
.home-page .preview-list li:hover .caption,
.home-page .preview-list .active .caption {
    opacity: 1;
}





/*----------------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------*/
@media all and (max-width: 1024px) {
    .home-page .preview-list {
        margin: 0;
    }
    .home-page .preview-list li:first-child, 
    .home-page .preview-list li {
        width: 300px;
        margin-left: 25px;
    }
    .home-page .preview-list img {
        max-width: none;
    }
    .home-page .preview-list .shadow:before,
    .home-page .preview-list .shadow:after {
        bottom: 3%;
    }
    .home-page .preview-list .caption {
        padding: 70px 0 0;
    }
}


@media all and (max-width: 1024px) and (min-width: 769px) {
}
@media all and (max-width: 768px) {
    body {
        min-width: 768px;
    }
    .home-page .preview {
        width: 768px;
    }
    .home-page .preview-list li:first-child, 
    .home-page .preview-list li {
        width: 220px;
        margin-left: 21px;
    }
    .home-page .preview-list .shadow:before,
    .home-page .preview-list .shadow:after {
        bottom: 4.5%;
    }
    .home-page .preview-list .caption {
        padding: 45px 0 0;
    }
}
/*----------------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------*/